{% extends "layout.html" %}

{% block article_body %}
{% markdown %}

<figure class="graphic graphic-b-1 graphic-pad-1">
  <img alt="" src="https://www.ft.com/__origami/service/image/v2/images/raw/ftcms%3A41ab56c4-e592-11e7-a685-5634466a6915?source=ig&width=1400"></img>
    <figcaption class="o-typography-caption">
    &#xA9; Michelle Thompson/FT
  </figcaption>
</figure>

Below are 40 questions to test your wits on the most fascinating cultural events of 2017. Simply write your answers in the boxes supplied, or select the multiple-choice answer you think is correct. Then enter your name and email address and click submit to be in with a chance of winning 52 bottles of Laurent-Perrier Cuvée Rosé, an elegant champagne to enliven any occasion.

Good luck!

{% endmarkdown %}
{% endblock %}
