{% extends "layout.html" %}

{% block article_body %}
{% markdown %}

<figure class="graphic graphic-b-1 graphic-pad-1">
  <img alt="" src="https://www.ft.com/__origami/service/image/v2/images/raw/ftcms%3A77144d68-e649-11e7-a685-5634466a6915?source=ig&width=1400"></img>
    <figcaption class="o-typography-caption">
    &#xA9; Michelle Thompson/FT
  </figcaption>
</figure>

Below are 40 questions to test your wits on the most fascinating cultural events of 2017. Simply type your answers in the boxes supplied or select the multiple-choice answer you think is correct; in the case of question 5, order answers by dragging and dropping. Then enter your name and email address and click ‘submit’.

First prize for the FT Quiz of the Year 2017 is 52 bottles of Laurent-Perrier Cuvée Rosé, an elegant champagne to enliven any occasion. Ten runners-up will receive copies of Lunch with the FT: 52 Classic Interviews, edited by FT editor Lionel Barber.

Good luck!

Update: This quiz has now closed. Winners will be notified by January 10, and the winners' names will be published in the FT Weekend Life & Arts section on January 13/14.

{% endmarkdown %}
{% endblock %}
